


server {
    listen 80;

    location / {
        proxy_pass http://{{ groups['backend'] | map('extract', hostvars, ['ansible_host']) | join(':19999') }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
}
